<%- include ('partials/header') %>


<div class="container">
    <form action="/add" method="POST">
        <label for="cars">Escoja una marca:</label>
        <select id="cars" name="name">
          <option value="Renault">Renault</option>
          <option value="Chevrolet">Chevrolet</option>
          <option value="Ford">Ford</option>
          <option value="Toyota">Toyota</option>
          
        </select>
        <input type="submit" value="Pedir arreglo">
      </form>

<button class="btn-success" onclick="location.href='http://localhost:3000/'">ver cambios</button>
</div>

    <table id="example" class="table table-hover table-bordered">

       <tr>
            <th>id</th>
            <th>dia</th>
            <th>acumulado</th>
       </tr>
        <% if (data) { %> 
            <% data.forEach(i => { %>
                
            <tr>
        
            <td><%= i.id %></td>     
            <td><%= i.name %></td> 
            <td><%= i.time_total %></td>
            
            </tr>
       <%  }) %>
        <% } %>
      
    </table>
    
    <%- include ('partials/footer') %>     